[submodule "fund-me/lib/forge-std"]
	path = fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "fund-me/lib/chainlink-brownie-contracts"]
	path = fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts

[submodule "fund-me/lib/foundry-devops"]
	path = fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops

[submodule "custom-erc20/lib/forge-std"]
	path = custom-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "custom-erc20/lib/openzeppelin-contracts"]
	path = custom-erc20/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
